body {
  background-color: black;
  background-color: #161b22;
}

.microphone-icon-container.listening::before {
  background-color: #5acf8f81;
}

.microphone-root-container p {
  color: white;
}

.microphone-icon-container.listening::before {
  background-color: #bbb9b9;
}

.mute-icon {
  color: white;
  transition: 0ms;
  -webkit-transition: 0ms;
  -moz-transition: 0ms;
  -ms-transition: 0ms;
  -o-transition: 0ms;
}

.microphone-mute-icon {
  color: #eeeeee;
  background-color: green;
}

.microphone-unmute-icon {
  color: #eeeeee;
  background-color: red;
}

.text-display-container {
  background: rgb(50, 52, 53);
  /* background-color: #161b22; */
  border: 3px dashed rgb(197 218 224);
}

.microphone-result-text {
  color: white;
}

.microphone-reset {
  background-color: rgb(248, 5, 5);
  color: white;
}

.microphone-copy {
  background-color: rgb(5 46 248);

  color: white;
}
.microphone-download {
  background-color: rgb(53 191 18);

  color: white;
}

.big-micro-btn {
  transition: 0ms;
  -webkit-transition: 0ms;
  -moz-transition: 0ms;
  -ms-transition: 0ms;
  -o-transition: 0ms;
}
.developer-container a {
  background-color: rgba(110, 118, 129, 0.4);
  color: white;
}
.developer-container a:hover {
  border: 0.1px solid rgb(255, 255, 255);
}
