.microphone-icon-container.listening::before {
  background-color: #5acf8f81;
}

.text-display-container {
  background: rgb(230, 241, 244);

  border: 3px dashed rgb(197 218 224);
}

.microphone-icon-container.listening::before {
  background-color: #5acf8f81;
}

.microphone-mute-icon {
  color: green;
  background-color: #eeeeee;
}

.microphone-unmute-icon {
  color: red;
  background-color: #eeeeee;
}

.big-micro-btn {
  transition: 0s;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  -o-transition: 0s;
}

.mute-icon {
  color: black;
  transition: 0s;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  -o-transition: 0s;
}
.microphone-result-text {
  color: black;
}

.microphone-reset {
  border: 1px solid rgb(248, 5, 5);
  color: rgb(248, 8, 8);
  /* transition: 0.2s; 
  -webkit-transition: 0.2s;

  -moz-transition: 0.2s;

  -ms-transition: 0.2s;

  -o-transition: 0.2s;
  */
}

.microphone-copy {
  border: 1px solid rgb(5 46 248);
  /* transition: 0.2s; */
  color: rgb(5 46 248);
  /* -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s; */
}
.microphone-download {
  border: 1px solid rgb(53 191 18);
  /* transition: 0.2s; */
  color: rgb(53 191 18);
  /* -webkit-transition: 0.2;
  -moz-transition: 0.2;
  -ms-transition: 0.2;
  -o-transition: 0.2; */
}

.microphone-reset:hover {
  background-color: rgb(248, 5, 5);
  color: white;
}

.microphone-copy:hover {
  background-color: rgb(5 46 248);

  color: white;
}
.microphone-download:hover {
  background-color: rgb(53 191 18);

  color: white;
}
